<nav id="navbar">
  <span class="navbar-logo"
    ><img src="/assets/pokemon-logo.jpg" alt="site logo" class="logo"
  /></span>

  <ul class="nav-list">
    <li><a href="/pokemons" class="nav-link">Pokemon</a></li>
    <li><a href="/types" class="nav-link">Types</a></li>
    <li><a href="/trainers" class="nav-link">Trainers</a></li>
  </ul>
</nav>
