<nav id="navbar">
  <span class="navbar-logo"
    ><a href="/">
      <img
        src="/assets/pokemon-img/pokemon-logo.jpg"
        alt="site logo"
        class="logo"
      /> </a
  ></span>

  <ul class="nav-list">
    <li><a href="/pokemons" class="nav-link">Pokemons</a></li>
    <li><a href="/types" class="nav-link">Types</a></li>
    <li><a href="/trainers" class="nav-link">Trainers</a></li>
  </ul>
</nav>
