#footer {
  width: 100%;
  padding: 1rem;
  text-align: center;
  background-color: #fdf0d5;
}

@media (max-width: 768px) {
  #footer {
    min-width: 300px;
  }
}

@media (max-width: 480px) {
  #footer {
    min-width: 280px;
  }
}
