#navbar {
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 1rem;
  background-color: #fdf0d5;
  width: 100%;
  gap: 2rem;
  min-width: 320px;
}

.logo {
  height: 2rem;
  width: auto;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 600px;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.nav-link {
  color: black;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  /* border-radius: 6px; */
  text-decoration: none;
  /* padding: 0.5rem 1rem; */
  transition: color 0.2s ease-in;
  display: block;
  white-space: nowrap;
}

.nav-link:hover {
  color: #c1121f;
  border-radius: 6px;
}

@media (max-width: 768px) {
  #navbar {
    flex-direction: column; /* Stack logo and navigation vertically */
    padding: 1rem;
    gap: 1rem;
    min-width: 300px;
  }

  .nav-list {
    width: 100%;
    justify-content: center;
  }
}

/* For very small screens, further adjustments */
@media (max-width: 480px) {
  #navbar {
    min-width: 280px;
  }
  .nav-list {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nav-link {
    padding: 0.5rem 0;
  }
}
